<!-- Historia de usuarios galería:
* El usuario quiere que se cargen al menos 3 imágenes 
* El usario quiere que se muestre una imagen por vez
* El usuario quiere una entradilla con posibilidad de imagen de fondo, titulo, autor, fecha actualizacion y un botón de "ver galería" -->
<div class="container">
    <!-- HEADER -->
    <header class="gallery-header" *ngIf="header === 'true'">
        <ul>
            <li><a href="#"><</a></li>
        </ul>
    </header>

    <!-- GALLERY CONTROLS -->
    <nav class="navigation" [hidden]="!state.isGalleryStarted">
        <ul class="controls">
            <li class="previousAction" (click)="previousAction()"><</li>
            <li class="nextAction" (click)="nextAction()">></li>
        </ul>
    </nav>

    <main>
        
        <!-- LANDING -->
        <ue-landing 
            [gallery]="gallery" 
            [isGalleryStarted]="state.isGalleryStarted"
            (startGallery)="onStartGallery($event)">
        </ue-landing>
        
        
        
        <!-- SLIDES -->
        <div class="multimedia">
            <div 
                class="slides-container"
                [ngClass]="{
                    nextTransition: state.transition === 'next',
                    nextTransitionFirst: state.transition === 'next-first',
                    previousTransition: state.transition === 'previous',
                    current: state.transition === 'current'
                }"
            >
                
                <ng-container *ngFor="let item of state.loadedSlides; let i=index">
                    <ue-slide 
                        #slide
                        [hidden]="!state.isGalleryStarted"
                        [index]="i" 
                        [activeItem]="state.activeItem" 
                        [item]="item">
                    </ue-slide>
                    
                </ng-container>
            </div>
        </div>
        <footer [hidden]="!state.isGalleryStarted">
            {{state.activeItem}}
        </footer>
    </main>
    
    

</div>