.container .gallery-header {
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    margin: 0;
    float: left;
    background-color: #550455;
    width: 100%;
    height: 48px;
    z-index: 2;
}
.container .gallery-header ul {
    list-style: none;
    padding: 0 10px;
}

.container .gallery-header ul li a{
    text-decoration: none;
    color: #ffffff;
}

/* NAVIGATION */
/* --------------------- */
.container .navigation {
    /* display: flex; */
    position: absolute;
    width: 100%;
    z-index: 1;
    top: calc(39% - 25px)

}
.container .navigation .controls {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}

.container .navigation .controls li {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    
}


  /*****************************/
 /** LANDING  STYLES **/
/*****************************/
.container .landing {
  color: #ffffff;
  text-align: center;
  max-width: 650px;
  margin: auto;
  padding-top: 48px;
}
.container .landing figure{
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: #000;
}
.container .landing figure img{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: .4;
}

.container .landing .content nav button{
  margin-top: 26px;
  background-color: #550455;
  height: 48px;
  padding: 15px;
  border: none;
  border-radius: 48px;
  color: #fff;
  text-align: center;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}



  /*****************************/
 /** MULTIMEDIA  STYLES **/
/*****************************/

.container .multimedia {
  width: 100%;
  overflow: hidden;
  background-color: red;
}

.container .multimedia .slides-container{
  display: flex;
  width: 400%;
}

.container .multimedia .slides-container ue-slide{
  flex: 1;
  background-color: green;
}

/* FOOTER */

.container footer {
  position: fixed;
  /* display: block; */
  bottom: 0;
  left: 0;
  height: 72px;
  width: 100%;
  background-color: orange;
  color: #ffffff;

}
/*.container .multimedia {
    display: flex;
    overflow: hidden;
    max-width: 85%;
    background-color: salmon;
    padding: 15px;
}


 */

.current {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
.nextTransitionFirst {
  -webkit-animation-name: slideOutLeftFirst;
  animation-name: slideOutLeftFirst;
  
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
.nextTransition {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
.previousTransition {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideOutLeftFirst {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(-25%, 0, 0);
      transform: translate3d(-25%, 0, 0);
    }
}
@keyframes slideOutLeft {
    from {
      -webkit-transform: translate3d(-25%, 0, 0);
      transform: translate3d(-25%, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
}
  
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.hidden{
  display: none;
}

