<!-- Historia de usuarios galería:
* El usuario quiere que se cargen al menos 3 imágenes 
* El usario quiere que se muestre una imagen por vez
* El usuario quiere una entradilla con posibilidad de imagen de fondo, titulo, autor, fecha actualizacion y un botón de "ver galería" -->
<div class="container">
    <!-- HEADER -->
    <header class="gallery-header" *ngIf="header === 'true'">
        <ul>
            <li><a href="#"><</a></li>
        </ul>
    </header>

    <!-- GALLERY CONTROLS -->
    <nav class="navigation" [hidden]="!state.isGalleryStarted">
        <ul class="controls">
            <li class="previousAction" (click)="previousAction()"><</li>
            <li class="nextAction" (click)="nextAction()">></li>
        </ul>
    </nav>

    <main>
        
        <!-- LANDING -->
        <div 
        class="landing" 
        [hidden]="state.isGalleryStarted">
            <h1>{{gallery.cintillo}}</h1>
            <h2>{{gallery.titulo}}</h2>
            <p>{{gallery.firmas[0].name}}</p>
            <p>{{gallery.publishedAt}}</p>
            <figure>
                <img src="{{gallery.multimedia[0].url}}" alt="{{gallery.titulo}}">
            </figure>
            <div class="content">
                <nav>
                    <button (click)="onStartGallery()">Ver galería ></button>
                </nav>
                <p>{{gallery.entradilla}}</p>
            </div>
        </div>
        
        
        
        <!-- SLIDES -->
        <div class="multimedia">
            <div class="slides-container" >
                
                <ng-container *ngFor="let item of state.loadedSlides; let i=index">
                    <ue-slide 
                        #slide
                        [hidden]="!state.isGalleryStarted"
                        class=""
                        [ngClass]="{
                            previous: i < state.activeItem,
                            current: i === state.activeItem,
                            next: i > state.activeItem
                        }" 
                        [index]="i" 
                        [activeItem]="state.activeItem" 
                        [item]="item">
                    </ue-slide>
                    
                </ng-container>
            </div>
        </div>
    </main>
    
    

</div>