<div class="slide-container" [ngSwitch]="item.type">
    
    <!-- IMAGE TEMPLATE -->
    <!-- <div 
        class="slide image" 
        [hidden]="index !== activeItem" 
        *ngSwitchDefault> -->
    <div 
        class="slide image" 
        *ngSwitchDefault>
        <figure>
            <div class="img-container">
                <img src="{{item.url}}" alt="{{item.titulo}}">
            </div>
                <figcaption *ngIf="item.titulo">
                    <div class="caption">
                        <!-- <h2>{{index}}</h2> -->
                        <h2>{{item.titulo}}</h2>
                        <hr>
                        <p>{{item.descripcion}}</p>
                    </div>
                </figcaption>
        </figure>

    </div>
</div>