
  /*****************************/
 /** IMAGE TEMPLATE STYLES ****/
/*****************************/
.slide-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.slide-container .slide.image {
  background-color: #1a1a1a;
}

.slide-container .slide.image figure {
  color: #ffffff;
  margin: 0;
}

.slide-container .slide.image figure img {
  max-width: 100%;
}

.slide-container .slide.image figure .img-container {
  min-height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 99vw;

}

.slide-container .slide.image figure figcaption {
  background-color: #000;
  width: 100%;
  min-height: 140px;
  padding-bottom: 3px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.slide-container .slide.image figure figcaption .caption{
  padding: 1% 3%;
}
.slide-container .slide.image figure figcaption .caption hr{
  color: #ffffff;
}
.slide-container .slide.image figure figcaption .caption h2{
  margin-block-end: 0.72em;
}

/* .slide-container {
  position: relative;
}
.slide-container .slide.image {
    background-color: #1a1a1a;
}
.slide-container .slide.image figure {
    color: #ffffff;
    margin: 0;
}

.slide-container .slide.image figure .img-container {
    min-height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slide-container .slide.image figure .img-container img {
    width: 100%;
}
.slide-container .slide.image figure figcaption {
    background-color: #000;
    width: 100%;
    min-height: 140px;
    padding-bottom: 3px;
    margin-bottom: 72px;
}

.slide-container .slide.image footer {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    height: 72px;
    width: 100%;
    background-color: orange;
    color: #ffffff;

}

@media only screen and (max-width: 768px) {
  .slide-container .slide.image figure .img-container img {
    width: 100%;
}
} */

